@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@300&display=swap");

//#region: Colors
$tangerine: #f37127;
$grey: #e7e7e7;
//#endregion

//#region: Font Family and Sizes
$font-family-base: "Open Sans", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-size-base: 0.875rem; //14px
$font-size-md: 1rem; //16px
$font-size-lg: 1.125rem; //18px
$font-size-sm: 0.75rem; //12px
$font-size-xs: 0.563rem; //9px;

$h1-font-size: 1.375rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$h4-font-size: 0.875rem;
$h5-font-size: 0.813rem;
$h6-font-size: 0.813rem;
//#endregion

//#region: Buttons
$btn-font-family: $font-family-base;
$btn-font-weight: $font-weight-bold;
$headings-font-weight: $font-weight-normal;
//#endregion
