.mini-shop-button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 15px;

  &--focused,
  &:focus {
    outline: 0;
  }

  &--text-normal {
    font-weight: $font-weight-normal;
  }

  &--disabled {
    opacity: 0.65;
  }

  &--route {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:disabled,
    &.disabled {
      pointer-events: none;
    }
  }
}
